# Ignore everything without an extension.
*
!*.*
!*/

# Ignore clangd project config (machine-specific).
.clangd

# Don't ignore makefiles.
!makefile
!Makefile

# Don't ignore license files.
!LICENSE

# Ignore .txt files.
*.txt

# Ignore solution files.
*atsln

# Ignore CMake files other than CMakeLists.txt.
!CMakeLists.txt
*CMakeCache.txt
*CMakeFiles
*cmake_install.Makefile
*cmake_install.cmake

# Ignore Python cache.
*__pycache__/

# Ignore vscode directory.
.vscode/
.vs/

# Ignore debug folder.
*Debug/

# Ignore build folder
*build/

# Ignore SDK config backup, but track sdkconfig itself.
sdkconfig.old

# Ignore cache folder
.cache/

# Ignore component manager downloads (reproducible from idf_component.yml)
managed_components/

# Ignore local WiFi credentials
main/include/communication/wifi/esp32s3_local_config.h